body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.title {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.anchor {
    color: aquamarine;
    font-size: 16px;
}